.ui {
}

.baka {
  background: gray;
  width: 0.5rem;
}

.ui fixed inverted menu {
  padding-bottom: 30px;
}

#coin_table {
  margin-top: 60px;
}

.ui fixed inverted menu {
  padding-bottom: 15px;
}

/* .ui.table td:second-child tr:first-child {
  color: red;
} */

#being_red {
  color: red;
}

#being_blue {
  color: blue;
}

.ui .striped > table {
  margin-top: 60px;
}

.ui striped table {
  margin-top: 60px;
}

.ui container > div {
  margin-top: 70px;
}
