.ui {
}

.baka {
  background: gray;
  width: 0.5rem;
}

.ui fixed inverted menu {
  padding-bottom: 30px;
}

#coin_table {
  margin-top: 60px;
}

.ui fixed inverted menu {
  padding-bottom: 15px;
}

/* .ui.table td:second-child tr:first-child {
  color: red;
} */

#being_red {
  color: red;
  background-color: #fff6f6;
}

#being_blue {
  color: blue;
  background-color: #e5f0ff;
}

.ui .striped > table {
  margin-top: 60px;
}

.ui striped table {
  margin-top: 60px;
}

.ui container > div {
  margin-top: 70px;
}

/* .ui.striped.table > tbody > tr:first-child {
  display: none;
} */

/* .ui.striped.table > tbody > tr:nth-child(1) {
  display: none;
} */

/* #none {
  display: none;
}

.BTC {
  display: none;
}

.ETH {
  display: none;
} */
.container > .ui.inverted.segment {
  background-color: white;
}

.container > .ui.inverted.segment > .ui.inverted.button {
  background-color: black;
  color: white;
}

.container > .ui.inverted.segment > .ui.inverted.button:toggle {
  background-color: black;
  color: white;
}

.ui.segment .ui.two.column.very.relaxed.grid .column > .MarketIndexName {
  display: block;
  font-size: 32px;
  margin-top: 75px;
}

.ui.segment .ui.two.column.very.relaxed.grid .column > .MarketIndexData {
  display: block;
  font-size: 60px;
  margin-top: 40px;
  margin-right: 40px;
}

.ui.segment .ui.two.column.very.relaxed.grid .column > .MarketIndexRate {
  display: block;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.ui.segment .ui.two.column.very.relaxed.grid > .column {
  text-align: center;
  align-content: center;
  text-decoration: none;
}

#MarketIndexData {
}

#Rise1 {
  /* color: red; */
}

#center {
  text-align: center;
}
.ui.avatar.image:hover {
}
